.button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  width: 13.5vw;
  height: 8vh;
  font-size: 2.5vw;
  display: block;
  cursor: pointer;
}

.button:focus {
  outline-color: greenyellow;
}
