.place-card__image.place-card__image_max {
  position: fixed;
  cursor: default;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  align-items: center;
  justify-content: center;
  display: none;
  z-index: 1;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  content: none;
}