.user-info__button {
  position: absolute;
  top: 16px;
  right: 0;
  width: 13.5vw
}

@media screen and (max-width: 980px) {
  .user-info__button {
    position: static;
  }
}

@media screen and (max-width: 320px) {
  .user-info__button {
    position: static;
  }
}
